@define-color dark rgba(26, 27, 38, 0.9);
@define-color urgent rgb(255, 92, 87);
@define-color light rgb(192, 202, 245);
@define-color light-80 rgba(192, 202, 245, 0.8);
@define-color light-50 rgba(192, 202, 245, 0.5);
@define-color light-20 rgba(192, 202, 245, 0.2);

* {
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-family: Iosevka Fixed, monospace;
}

#waybar {
    color: @light;
    background: @dark;
}

tooltip, tooltip * {
    color: @light;
    background-color: @dark;
    padding: 2px;
}

#workspaces button {
    color: @light;
    padding: 4px 12px;
}

#workspaces button.visible {
    background-color: @light-20;
}

#workspaces button.active {
    color: @light;
    background-color: @light-50;
}

@keyframes urgent-blink {
    to {
        background-color: @urgent;
    }
}

#workspaces button.urgent {
    animation: urgent-blink 0.5s linear infinite alternate;
}

#workspaces button:not(.visible):hover {
    background-color: @light-20;
}

#window,
#mpris,
#network,
#custom-openconnect,
#pulseaudio,
#memory,
#cpu,
#battery,
#clock,
#tray
{
    padding: 0 8px;
    border-left: 1px solid @light-50;
}
