[Desktop Entry]
Type=Application
Name=Private web
Comment=Open urls in private mode
Exec=librewolf --private-window %u
MimeType=x-scheme-handler/http;x-scheme-handler/https;
